<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EDIT PAGE</title>
</head>
<body>
	<h1 align="center" >Update Student Details</h1>
	<form th:action="@{/updateStudent}" th:object="${student}" method="post">
	<input type="hidden" th:field="*{id}">
	<table>
	<tr>
		<td>Name</td>
		<td> <input th:field="*{name}"> </td>
		<td th:if="${#fields.hasErrors('name')}" th:error="*{name}"></td>
	</tr>
	<tr>
		<td>Address</td>
		<td> <input th:field="*{address}"> </td>
		<td th:if="${#fields.hasErrors('address')}" th:error="*{address}"></td>
	</tr>
	<tr>
		<td>Salary</td>
		<td> <input th:field="*{marks}" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" type="text"> </td>
		<td th:if="${#fields.hasErrors('marks')}" th:error="*{marks}"></td>
	</tr>
	<tr>
		<td colspan="3" align="center"> <input type="submit" value="Update"> </td>
		<td colspan="3"> <a th:href="@{/home}"> <button>Cancel</button> </a>  </td>
	</tr>
	</table>
	</form>
</body>
</html>